#chatcolumn {
    float: right;
 	width: 254.594px;
}	


#fillerdiv{ 
  margin-right: 254.594px;
  background-color: #000000;
}

video {
	float: left;
	width: 60%;
	height: 60%;
}

.local {
	width: 20%;
	position: fixed;
	left: 60%;
	bottom: 10%;
}